!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title Code Monkey
    :css
      @import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
      @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
    %script{:src => "/assets/prefixfree.min.js"}
  %body
    .body
    .grad
    .header
      %div
        Code
        %span Monkey
    %br/
    .login
      %form{"accept-charset" => "UTF-8", action: 'authenticate', :method => "post"}
        %input{:name => "utf8", :type => "hidden", :value => "✓"}/
        %input{:name => "authenticity_token", :type => "hidden", :value => "NNb6+J/j46LcrgYUC60wQ2titMuJQ5lLqyAbnbAUkdo="}/
        %input#session_email.form-control{name: "email", type: "text", placeholder: 'Enter e-mail'}/
        %input#session_password{:name => "password", :type => "password", placeholder: 'Enter Password'}/
        %input.btn.btn-primary{:name => "commit", :type => "submit", :value => "Log in"}/
      %p 
        Not A Member? 
        =link_to 'Sign Up', new_user_path 

